# External APIs
GEMINI_API_KEY=
GEOAPIFY_API_KEY=

# Neon Database Config
DATABASE_URL=
DATABASE_URL_UNPOOLED=

# Neon Object Storage Config (boto3)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-2
AWS_BUCKET_NAME=city-watch-reports
AWS_ENDPOINT_URL_S3=

# Optional Redis Rate Limiting (defaults to in-memory if omitted)
REDIS_URL=